//variables-------------------

$font: "Roboto", 'Lato', sans-serif;
$souBlue: #003979;
$souGray: #8f9092;


//mixins----------------------


//media------------------------

@media screen and (max-width: 768px) { 
  .tab {
    font-size: 0.8rem;
  }
  .tabs-container {
    flex-direction: column;
    width: 85%;
    height: 150px;
  }
  .backgroundcontent {
    background-image: url("./images/winter_350.png");
  }
}



//other------------------------

/* --------------------
		  Header
   --------------------*/
.header {
  max-width: 100%;
  height: auto;
  display: center;
  text-align: left;
  img {
  	padding: 5% 0 2% 5%;
  }
}

.header-table {
  vertical-align: center;
  display: inline-block;
  border-collapse: collapse;
  padding: 0 0 2% 0;
  th {
  	text-align: left;
	height: 0rem;
	vertical-align: bottom;
  }
  td {
    text-align: left;
    height: 0rem;
    vertical-align: top;
  }
  h1, h2, h3 {
    color: black;
  }
  h1 {
  	font-weight: 300;
  }
  h1, h2 {
    padding: 0 0 0 0.5rem;
    height: 0rem;
  	display: inline-block;
  }
  h2, h3 {
  	font-weight: 100;
  }
  h3 {
    height: 0rem;
	padding: 0 0 0 0.5rem;
  }
  .divider {
    font-weight: 400;
	font-size: 2rem;
  }
}

/* --------------------
		  Menu
   --------------------*/
.menu {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
	height: 100px;
    position: relative;
    background: white;
	text-align: center;
}

.tabs-container {
    display: flex;
    flex-direction: row;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: LightGray;
    z-index: 10;
    &--top {
        position: fixed;
        top: 0;
    }
}

.spacer {
	padding: 2.5%;
}

.tab {
	padding: 0 1rem;
    display: flex;
    //justify-content: left;
    align-items: center;
    //flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
	transition: all 0.5s ease;
	font-size: 1rem;
	&:hover {
		color: white;
      	background: $souBlue;
		transition: all 0.5s ease;
    }
}

.tab-select {
	padding: 0 1rem;
    display: flex;
    //justify-content: center;
    align-items: center;
    //flex: 1;
    letter-spacing: 0.1rem;
	transition: all 0.5s ease;
	font-size: 1rem;
    color: white;
    background: $souBlue;
}

.spacerflex {
	display: flex;
	flex: 1;
}

.menu-contact {
	padding: 0 0.25rem;
    display: flex;
    justify-content: right;
    align-items: center;
    //flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
	transition: all 0.5s ease;
	font-size: 1rem;
	&:hover {
		color: white;
      	background: $souBlue;
		transition: all 0.5s ease;
    }
}


/* --------------------
		Footer
   --------------------*/
.footer-container {
	h6 {
		text-align: left;
		padding: 0 2rem;
	}
	font-family: $font;
    display: flex;
    flex-direction: row;
    bottom: 0;
    width: 100%;
    height: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: LightGray;
    z-index: 10;
    &--top {
        position: fixed;
        top: 0;
    }
}

/* --------------------
	     General
   --------------------*/
body {
	font-family: $font;
}

a {
	text-decoration: none;
}

/* --------------------
	  Page Specific
   --------------------*/
/* --------------------
	  Home Page
   --------------------*/
.backgroundcontent-home {
  background-image: url("./images/winter.png");
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  
  color: white;
  text-align: center;
  font-size: 4rem;
  padding: 5%;
  h3 {
  	font-size: 1rem;
	font-weight: 100;
  }
  h1, h3 {
  	display: block;
  }
  h1 {
  	letter-spacing: 1rem;
	font-weight: 400;
  }
}

.preview {
    padding: 2rem;
    justify-content: center;
	display: center;
	font-family: $font;
	text-align: center;
	display: block;
	.nonlist {
	  font-weight: 300;
	  padding-bottom: 1rem;
	}
	.list {
	  font-weight: 300;
	}
	h4 {
	  font-weight: 100;
	}
	a {
	  padding: 1rem;
	  font-weight: 100;
	  color: $souBlue;
	  border: 1px solid $souBlue;
	  border-radius: 25px;
	  transition: all 0.5s ease;
	  &:hover {
		color: white;
      	background: $souBlue;
		transition: all 0.5s ease;
      }
	}
	img {
	  padding-top: 1rem;
      display: block;
      margin: 0 auto;
    }
	h5 {
	  font-size: 2rem;
	}
	.last {
	  padding-bottom: 1rem;
	}
	.list {
	  font-weight: 300;
	}
}

/* --------------------
	  Other Pages
   --------------------*/
.backgroundcontent {
  background-image: url("./images/winter.png");
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  
  color: white;
  text-align: center;
  font-size: 4rem;
  padding: 5%;
  h3 {
  	font-size: 3rem;
	font-weight: 100;
  	display: block;
  }
}

.about, .pillars, .brothers, .gallery, .recruitment, .contact {
    padding: 2rem;
    justify-content: center;
	display: center;
	font-family: $font;
	text-align: center;
	display: block;
	.text {
	  font-weight: 300;
	  padding-bottom: 1rem;
	}
	h4 {
	  font-weight: 100;
	}
	img {
	  padding-top: 1rem;
      display: inline-block;
	  align-items: center;
      margin: 0 auto;
	  max-width: 100%;
      height: auto;
      width: auto\9;
    }
	h5 {
	  font-size: 2rem;
	}
}

.related {
    padding: 2rem;
    justify-content: center;
	display: center;
	font-family: $font;
	text-align: center;
	display: block;
	.nonlist, h3 {
	  font-weight: 300;
	  padding-bottom: 1rem;
	}
	.list {
	  font-weight: 300;
	}
	h4, h2 {
	  font-weight: 100;
	}
	a {
	  padding: 1rem;
	  font-weight: 100;
	  color: $souBlue;
	  border: 1px solid $souBlue;
	  border-radius: 25px;
	  transition: all 0.5s ease;
	  &:hover {
		color: white;
      	background: $souBlue;
		transition: all 0.5s ease;
      }
	}
	img {
	  padding-top: 1rem;
      display: block;
      margin: 0 auto;
    }
	h5 {
	  font-size: 2rem;
	}
	.last {
	  padding-bottom: 1rem;
	}
	.list {
	  font-weight: 300;
	}
}

.line {
  color: LightGray;
  font-weight: 100;
  h5 {
	  font-size: 2rem;
  }
}

.recruitment {
  .headline {
    font-weight: 400;
  }
  .date {
    font-weight: 100;
  }
  .event {
    font-weight: 300;
  }
  .location {
    font-weight: 100;
  }
  .disclaimer {
    font-weight: 100;
  }
}

.page-contact {
  padding: 1rem;
  justify-content: center;
  display: center;
  text-align: center;
  transition: all 0.5s ease;
  &:hover {
    //border: 1px solid $souBlue;
    border-radius: 25px;
  	background: $souBlue;
	transition: all 0.5s ease;
  }
  display: inline-block;
}

.contact {
  .info {
  	font-weight: 100;
	a {
		font-weight: 300;
		color: $souBlue;
		&:hover {
		  color: LightGray;
		}
	}
  }
}

.about, .pillars {
  padding-right: 10rem;
  padding-left: 10rem;
}

img {
	max-width: 100%;
    height: auto;
    width: auto\9;
}

.jump {
  padding: 1rem;
  font-weight: 100;
  color: $souBlue;
  border: 1px solid $souBlue;
  border-radius: 25px;
  transition: all 0.5s ease;
  &:hover {
	color: white;
  	background: $souBlue;
	transition: all 0.5s ease;
  }
}
